<mat-sidenav-container class="busqo-sidenav-container">
    <mat-sidenav mode="side" class="busqo-sidenav" opened>
        <div class="busqo-menu-title">
            <img src="../../../assets/busqo.png" alt="busqoLogo">
            <h1>Menu</h1>
        </div>
        <mat-selection-list #shoes [multiple]="false">
            <a style="text-decoration: none;" [routerLink]="['./']" routerLinkActive="router-link-active">
                <mat-list-option class="busqo-list-option">
                    <h3>Home</h3>
                </mat-list-option>
            </a>
            <!-- <a style="text-decoration: none;" [routerLink]="['./conteovehiculos']" routerLinkActive="router-link-active">
                <mat-list-option class="busqo-list-option">
                    <h3>Conteo de Vehiculos por dia</h3>
                </mat-list-option>
            </a>
            <a style="text-decoration: none;" [routerLink]="['./recaudovehiculos']" routerLinkActive="router-link-active">
                <mat-list-option class="busqo-list-option">
                    <h3>Recuado de Vehiculos por dia</h3>
                </mat-list-option>
            </a> -->
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>